<div class="container">
  <div class="row">
    <!-- Filtering Card -->
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          Filter Backlinks
        </div>
        <div class="card-body">
          <%= form_with url: backlinks_path, method: :get, local: true, id: 'filter-form' do %>
            <div class="form-group">
              <%= label_tag :country, "Country" %>
              <%= select_tag :country, options_for_select(@backlinks.pluck(:country).uniq), include_blank: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag :category, "Category" %>
              <%= select_tag :category, options_for_select(@backlinks.pluck(:category).uniq), include_blank: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag :price_range, "Price Range (€)" %>
              <div class="d-flex justify-content-between">
                <%= number_field_tag :min_price, params[:min_price], placeholder: 'Min', class: 'form-control mr-2', min: 0 %>
                <%= number_field_tag :max_price, params[:max_price], placeholder: 'Max', class: 'form-control', min: 0 %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :article_writing, "Article Writing" %><br>
              <%= radio_button_tag :article_writing, true, params[:article_writing] == 'true', class: 'filter-radio' %> Yes
              <%= radio_button_tag :article_writing, false, params[:article_writing] == 'false', class: 'filter-radio' %> No
            </div>
            <div class="form-group">
              <%= label_tag :cs_possible, "CS Possible" %><br>
              <%= radio_button_tag :cs_possible, true, params[:cs_possible] == 'true', class: 'filter-radio' %> Yes
              <%= radio_button_tag :cs_possible, false, params[:cs_possible] == 'false', class: 'filter-radio' %> No
            </div>
            <div class="form-group">
              <%= label_tag :special_price, "Special Price" %><br>
              <%= radio_button_tag :special_price, true, params[:special_price] == 'true', class: 'filter-radio' %> Yes
              <%= radio_button_tag :special_price, false, params[:special_price] == 'false', class: 'filter-radio' %> No
            </div>
            <%= submit_tag 'Filter', class: 'btn btn-primary' %>
            <!-- Reset button that clears the form inputs -->
            <button type="button" class="btn btn-secondary mt-2" id="reset-btn">Reset</button>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Backlinks Table Card -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Backlinks
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="sortable" data-sort="added_on">Added On</th>
                <th class="sortable" data-sort="country">Country</th>
                <th>Site</th>
                <th class="sortable" data-sort="price">Price</th>
                <th class="sortable" data-sort="traffic">Traffic</th>
                <th class="sortable" data-sort="domain_rank">Domain Rank</th>
                <th class="sortable" data-sort="category">Category</th>
                <th>Duration</th>
                <th>Article Writing</th>
                <th>CS Possible</th>
                <th>Special Price</th>
                <th>Available</th>
              </tr>
            </thead>
            <tbody>
              <% @backlinks.each do |backlink| %>
                <tr>
                  <td><%= backlink.added_on %></td>
                  <td><%= backlink.country %></td>
                  <td><%= backlink.site %></td>
                  <td><%= backlink.price %></td>
                  <td><%= backlink.traffic %></td>
                  <td><%= backlink.domain_rank %></td>
                  <td><%= backlink.category %></td>
                  <td><%= backlink.duration %></td>
                  <td><%= backlink.article_writing ? 'Yes' : 'No' %></td>
                  <td><%= backlink.cs_possible ? 'Yes' : 'No' %></td>
                  <td><%= backlink.special_price ? 'Yes' : 'No' %></td>
                  <td><%= backlink.available ? 'Yes' : 'No' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
